body {
  margin: 0;
  padding: 0;
  background: #0b0f19;
  color: white;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.328);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  padding: 18px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  text-align: center;
}

.value {
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
}

.alert-banner {
    background: red;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    animation: blink 1s infinite;
    margin: 20px auto;
    width: 92%;            
    border-radius: 8px;
    transition: margin 0.3s ease, padding 0.3s ease;
                      

}

.hidden {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.history {
  padding: 20px;
  list-style: none;
}

.history li {
  padding: 10px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#enableSoundBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #00eaff;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #00eaff;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(6px);
  transition: 0.25s;
  z-index: 2000;
}

#enableSoundBtn:hover {
  background: rgba(0, 234, 255, 0.3);
  box-shadow: 0 0 12px #00eaff;
  transform: scale(1.05);
}

#enableSoundBtn:active {
  transform: scale(0.95);
  box-shadow: 0 0 20px cyan inset;
}

h2 {
  align-items: center;
  display: flex;
  justify-content: center;

}